agate==1.9.1
aiohappyeyeballs==2.6.1
aiohttp==3.11.14
aiosignal==1.3.2
altair==5.5.0
annotated-types==0.7.0
anyio==4.9.0
appdirs==1.4.4
aquarel==0.0.7
asttokens==3.0.0
attrs==25.3.0
babel==2.17.0
blinker==1.9.0
cachetools==5.5.2
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
comm==0.2.2
contourpy==1.3.1
cycler==0.12.1
daff==1.3.46
db-dtypes==1.4.2
dbt==1.0.0.38.38
dbt-adapters==1.14.4
dbt-bigquery==1.9.1
dbt-common==1.17.0
dbt-core==1.9.4
dbt-extractor==0.5.1
dbt-semantic-interfaces==0.7.4
debugpy==1.8.13
decorator==5.2.1
deepdiff==7.0.1
diskcache==5.6.3
distro==1.9.0
dlt==1.8.1
dlt-pendulum==3.0.2
duckdb==1.2.1
epidatpy @ git+https://github.com/cmu-delphi/epidatpy.git@ea4a098185f7d2a9f2181b167ee747796aa433da
epiweeks==2.3.0
executing==2.2.0
fastjsonschema==2.21.1
fire==0.7.0
fonttools==4.56.0
frozenlist==1.5.0
fsspec==2025.3.0
gcsfs==2025.3.0
gitdb==4.0.12
gitpython==3.1.44
giturlparse==0.12.0
google-api-core==2.24.2
google-auth==2.38.0
google-auth-oauthlib==1.2.1
google-cloud-bigquery==3.31.0
google-cloud-bigquery-storage==2.30.0
google-cloud-core==2.4.3
google-cloud-dataproc==5.18.1
google-cloud-storage==2.19.0
google-crc32c==1.7.1
google-resumable-media==2.7.2
googleapis-common-protos==1.69.2
googletrans==4.0.2
greenlet==3.1.1
grpc-google-iam-v1==0.14.2
grpcio==1.71.0
grpcio-status==1.71.0
h11==0.14.0
h2==4.2.0
hexbytes==1.3.0
hpack==4.1.0
httpcore==1.0.7
httpx==0.28.1
humanize==4.12.1
hyperframe==6.1.0
idna==3.10
importlib-metadata==6.11.0
install-jdk==1.1.0
ipykernel==6.29.5
ipython==9.0.2
ipython-pygments-lexers==1.1.1
isodate==0.6.1
jedi==0.19.2
jinja2==3.1.6
jiter==0.9.0
joblib==1.4.2
jsonpatch==1.33
jsonpath-ng==1.7.0
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter-cache==1.0.1
jupyter-client==8.6.3
jupyter-core==5.7.2
kiwisolver==1.4.8
langchain==0.3.21
langchain-core==0.3.49
langchain-openai==0.3.11
langchain-text-splitters==0.3.7
langdetect==1.0.9
langsmith==0.3.19
leather==0.4.0
makefun==1.15.6
markdown-it-py==3.0.0
markupsafe==3.0.2
mashumaro==3.14
matplotlib==3.10.1
matplotlib-inline==0.1.7
mdurl==0.1.2
more-itertools==10.6.0
msgpack==1.1.0
multidict==6.2.0
narwhals==1.30.0
nbclient==0.10.2
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.4.2
nltk==3.9.1
numpy==2.2.3
oauthlib==3.2.2
openai==1.69.0
ordered-set==4.1.0
orjson==3.10.15
packaging==24.2
pandas==2.2.3
pandas-gbq==0.28.0
parsedatetime==2.6
parso==0.8.4
pathspec==0.12.1
pathvalidate==3.2.3
pexpect==4.9.0
pillow==11.1.0
platformdirs==4.3.6
plotly==6.0.1
pluggy==1.5.0
ply==3.11
prompt-toolkit==3.0.50
propcache==0.3.1
proto-plus==1.26.1
protobuf==5.29.3
psutil==7.0.0
ptyprocess==0.7.0
pure-eval==0.2.3
py4j==0.10.9.7
pyarrow==19.0.1
pyasn1==0.6.1
pyasn1-modules==0.4.2
pycparser==2.22
pydantic==2.11.0
pydantic-core==2.33.0
pydata-google-auth==1.9.1
pydeck==0.9.1
pygments==2.19.1
pyparsing==3.2.1
pyspark==3.5.5
python-dateutil==2.9.0.post0
python-slugify==8.0.4
pytimeparse==1.1.8
pytz==2025.1
pyyaml==6.0.2
pyzmq==26.3.0
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
requirements-parser==0.11.0
rich==13.9.4
rich-argparse==1.7.0
rpds-py==0.23.1
rsa==4.9
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
semver==3.0.4
setuptools==76.0.0
simplejson==3.20.1
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
snowplow-tracker==1.1.0
sqlalchemy==2.0.40
sqlparse==0.5.3
stack-data==0.6.3
streamlit==1.43.2
tabulate==0.9.0
tenacity==9.0.0
termcolor==2.5.0
text-unidecode==1.3
threadpoolctl==3.6.0
tiktoken==0.9.0
toml==0.10.2
tomlkit==0.13.2
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
types-setuptools==76.0.0.20250313
typing-extensions==4.12.2
typing-inspection==0.4.0
tzdata==2025.1
urllib3==2.3.0
watchdog==6.0.0
wcwidth==0.2.13
yarl==1.18.3
zipp==3.21.0
zstandard==0.23.0
